@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Pacifico&family=Parisienne&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.containerprueba{
    
    width: 20%;
    text-align: center;
}

/*estilos bases*/
img{
    display: block;
    width: 100%;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.container{
    width: 100%;
    margin:auto;

}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column{
    width: 100%;
}

/* estilos de header*/

.main-header{
    width: 100%;
}
.logo{
    font-size: 1.8em;
    color: #F0B408;
    padding: 10px;
    /*font-family: 'pacifico', cursive;*/
    font-family: 'Parisienne', cursive;
    font-weight: 100;
}
.logo2{
    display: none;
}

.main-header__contactInfo__phone{
    background: #F0B408;
    color: white;
    margin: 0 auto;
    padding: 10px;
}
.main-header__contactInfo__address{
    padding: 10px;
    margin: 0;
}
.main-header [class*="icon-"]:before{
  position: relative;
    top: 2px;
    right: 5px;
}

/* Estilos del menu*/

.main-nav{
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}
.icon-menu{
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}
.social-icon{
    display: flex;
    justify-content: space-between;
}

.social-icon [class*="icon-"]{
    color: black;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}
.social-icon__link {
    text-decoration: none;
}
.menu{
    
    position: absolute;
    top:60px;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .85);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
}
.menu__link{
    display: block;
    padding: 15px;
    color:white;
    text-decoration: none;
}
.menu__link:hover{

    background: #F0B408;
}
.menu__link--select{
    background: #F0B408;
}

.mostrar{
    height: 196px;
}

/*Estilos de banner*/

.banner{
    margin-top: -55px;
    position: relative;
}
.banner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    top: 0;
}
.banner__img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.banner_content{
    width: 90%;
    color: white;
    top: 50%;
    position: absolute;
    z-index: 1500;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

/* estilos principales*/

.group--color .container{
    background:#F0B408;
    color: white;
    padding: 10px;
    text-align: center;
}

.main__title{
    margin: 15px 0;
    font-size: 1.8em;
    font-family: 'pacifico', cursive;
    font-weight: 100;
}
.main__txt{
    padding: 20px;
}
.column__title{
    font-size: 1.3em;
}
.main__about_description .column:nth-child(2){
    padding: 10px;
}

.btn{
    display: block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background: #DE423A;
    color: white;
    padding: 10px;
    margin: 1px auto;

}

.group__title{
    font-family: 'pacifico',cursive;
    text-align: center;
    font-weight: 100;
    font-size: 1.6em;
    margin: 30px;
}

.today-special .column{
    margin-bottom: 30px;
    text-align: center;
}
.today-special__img{
    margin: auto;
    max-width: 350px;
}
.today-special__title{
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;
}
.today-special__price{
    font-size: 1.5em;
    color: #DE423A;
    font-weight: bold;
}

/*Style de footer*/

.main-footer{
    background-color: #222;
    color: white;
    padding: 18px;
    padding-top: 20px;
    padding-bottom: 28px;
    font-size: .8em;
}
.copy{
    text-align: center;
    margin: auto;
    margin-top: 15px;

}
.main-footer [class*="icon-"]{
    color: white;
    text-decoration: none;

}
.main-footer [class*="icon-"]::before{
    position: relative;
    top:3px;
    right: 5px;
}

@media screen and (min-width:480px){
    
    .logo{
        color: white;
        
        
    }
   
    .main-header__contactInfo{
        text-align: right;
    }
    .banner{
        margin-top: -145px;
        z-index: -1000;
    }
    .banner_content{
        font-size: 2em;
    }
    .banner__img{
        height: 700px;
    }
    .main-header__contactInfo__phone{
        background: none;
    }
    .main-header__contactInfo__address{
        color: white;
    }
    .column--50{
        width: 49%;
    }
    .column--50-25{
        width: 49%;
    }
    .column--33{
        width: 32%;
    }
    .main-nav{
        background: transparent;
    }
    .main__about_description{
        padding: 10px;
    }
    .main__about_description .column--50:nth-child(2){
       padding-left: 28px;
       font-size: .9em;
    }
    .main__about_description .btn{
        margin: 0;
    }
    .today-special .column{
        border:5px solid #ddd;
        padding: 5px;
    }
    .today-special__img{
        height: 200px;
        object-fit: cover;
    }
    .about_img{
        height: 350px;
        object-fit: cover;
    }

    .main{
        padding-bottom: 15px;
    }
}

@media screen and (min-width:768px){
    
    .main__title{
        font-size: 2.2em;
    }

    .main__about_description{
        margin-top: 30px;
    }
    .main__about_description .column--50:nth-child(2){
       
        font-size: 1em;
     }
     .main__about_description .column--50:nth-child(2)
     .column__txt{
       
        line-height: 30px;
     }

     .column--50-25{
         width: 24.5%;
     }
     .column__title{
         font-size:1em;
         color: #DE423A;
     }
     .group__title{
         font-size: 2.2em;
    
     }
    
}


@media screen and (min-width:1024px){
    .logo2{
        display: block;
        font-size: .9em;
        color: white;
        font-family: 'Parisienne', cursive;
        
    }
    .logo{
        font-size: 2em;
        padding: 0;
    }
    .main-header__contactInfo__phone,
    .main-header__contactInfo__address{
        padding-right: 0;
        font-size: 1.15em;
    }
    .main-nav{
        padding: 0;
    }
    .banner_content{
        font-size: 2.5em;
    }
    .icon-menu{
        display: none;
    }
    .menu{
        display: flex;
        height: auto;
        position: static;
        width: auto;
        background: transparent;
    }
    .menu__link{
        padding: 20px;
    }
    .container{
        width: 1020px;
    }

    .group--color .container{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
    }
    .main__title{
        font-size: 2.3em;
    }

    .main__about_description .column--50:nth-child(2)
     .column__txt{
       
        line-height: 45px;
     }

     .today-special__price{
         font-size: 1.8em;
     }
     .today-special__title{
         font-size: 1.4em;
     }
     .main-footer{
         padding-top: 30px;
         padding-bottom: 30px;
     }


}

@media screen and (min-width:1600px){
    .container{
        width: 1400px;
    }
    .main__about_description .column:nth-child(1) .about_img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    .today-special__img{
        height: 300px
    }
}